/* Header */

#header {
    width: 2000px;
    height: 50px;
    background-color: #545454;
}

#header > div {
    height: 40px;
    background-color: #545454;
    padding-left: 10px;
    color: whitesmoke;
    cursor: pointer;
}

#title {
    width: 300px;
    font-size: x-large;
    float: left;
}

#individual , #compare , #general , #about, #cluster{
    width: 80px;
    float: left;
    text-align: center;
    margin-top: 10px;
}

#header .active {
    color: #ff9e9e;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: #ddd;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

#about_div {
    padding: 30px;
}

/* Main Div*/

.main {
    width: 90%;
}

.hidden {
    display: none;
}

/* Individual Div */

#indi_nav {
    width: 100%;
    padding: 20px;
}

#indi_dgm_div {
    width: 2000px;
    min-height: 1000px;
}

#indi_tree_div , #indi_vf_div , #indi_contour_div{
    padding: 0 20px;
}

#indi_lic_div {
    padding: 30px 20px;
}


#indi_dgm_div > div {
    float: left;
}

#indi_vf_div svg, #indi_contour_div svg, #indi_lic_div {
    width: 600px;
    height: 600px;
}

#indi_tree_div svg {
    width: 500px;
    height: 600px;
}

#indi_tree_div circle:hover {
    cursor: pointer;
}

#indi_vf_div svg .arrows{
    stroke-width: 1px;
    stroke: black;
    fill: none;
}

#indi_vf_div svg marker > path {
    fill: #4C4C4C
}

#indi_contour_div .cps {
    opacity: 1;
    fill: forestgreen;
    stroke: forestgreen;
}

#indi_contour_div svg .arrows {
    stroke-width: 5px;
}

#indi_lic_div img {
    max-width: 440px;
    max-height: 540px;
}

#key_div {
    padding: 0 20px;
}

#key {
    width: 600px;
    height: 50px;
}

/* Compare Div */

#comp_nav {
    width: 100%;
    padding: 20px;
}

#comp_list_div {
    width: 100%;
    padding: 10px;
}

#comp_list_div .icon img{
    max-width: 20px;
    max-height: 20px;
    margin-left: 30px;
}

#comp_list_div .icon {
    margin-top: 175px;
    float: left;
}

#comp_list_div > div {
    width: 100%;
    display: flex;
}

#comp_list_div .tree_diagram,
#comp_list_div .lic_diagram {
    float: left;
    width: 300px;
    height: 400px;
    padding: 0 20px;
}

#comp_list_div .contour_diagram {
    float: left;
    width: 400px;
    height: 400px;
    padding: 0 20px;
}

#comp_list_div div svg {
    height: 350px;
    width: 350px;
}

#comp_list_div svg .arrows{
    stroke-width: 3px;
    fill: none;
}

#comp_list_div .saddle path , #comp_list_div .sink path {
    transform: scale(0.7);
}

#comp_list_div div .lic_diagram img {
    max-width: 240px;
    max-height: 320px;
}

#comp_list_div div .lic_diagram {
    margin-top: 20px;
}

#comp_list_div .robustness_diagram svg {
    height: 350px;
    width: 350px;
}

/* General */

#gen_nav {
    width: 100%;
    padding: 20px;
}

#gen_svg_div {
    padding: 20px;
}

#gen_svg_div svg {
    width: 600px;
    height: 600px;
}

/* Cluster */

#cluster_svg_div {
    padding: 20px;
}

#cluster_svg_div svg {
    width: 600px;
    height: 600px;
}

#cluster_nav {
    width: 100%;
    padding: 20px;
}

/* general */

.saddle {
    opacity: 1;
    fill: whitesmoke;
    stroke: black;
    stroke-width: 3px;
}

.source , .sink {
    opacity: 1;
    stroke: black;
    fill: black;
    stroke-width: 2px;
}

.leaf {
    stroke: black;
    fill: whitesmoke;
    stroke-width: 2px;
}

.merge {
    fill: black;
}

.link {
    stroke-width: 2px;
    stroke: black;
    fill: none;
}

.slider_line line {
    stroke: red;
    stroke-width: 2px;
}

.grid line {
    stroke: #c0c0c0;
    stroke-dasharray: 3;
}

.selected {
    fill: red !important;
}

/* About */

a {
    text-decoration: none;
    color: black;
    cursor: hand;
}

a:hover {
    text-decoration: none;
}

a:visited {
    border-bottom: 1px gray dotted;
}

a:link {
    border-bottom: 1px grey dotted;
}