/* Header */

#header {
    width: 1850px;
    height: 50px;
    background-color: #545454;
}

#header > div {
    height: 40px;
    background-color: #545454;
    padding-left: 10px;
    color: whitesmoke;
    cursor: pointer;
}

#title {
    width: 300px;
    font-size: x-large;
    float: left;
}

#individual {
    width: 80px;
    float: left;
    text-align: center;
    margin-top: 10px;
}

#compare {
    width: 80px;
    float: left;
    text-align: center;
    margin-top: 10px;
}

#about {
    width: 80px;
    float: right;
    text-align: center;
    margin-top: 10px;
}

#header .active {
    color: #ff9e9e;
}

/* Main Div*/
.main {
    width: 90%;
}

.hidden {
    display: none;
}

/* Individual Div */
#indi_nav {
    width: 100%;
}

#indi_dgm_div {
    width: 2000px;
}

#indi_dgm_div > div {
    float: left;
}

#indi_vf_div svg, #indi_contour_div svg, #indi_lic_div {
    width: 500px;
    height: 600px;
}

#indi_tree_div svg {
    width: 300px;
    height: 600px;
}

/*---*/

#indi_tree_div .link {
    stroke-width: 2px;
    stroke: black;
    fill: none;
}

#indi_tree_div .source {
    fill: forestgreen;
}

#indi_tree_div .saddle {
    fill: steelblue;
}

#indi_tree_div .sink {
    fill: darkred;
}

#indi_tree_div .merge {
    fill: black;
}

/*---*/

#indi_vf_div svg .arrows{
    stroke-width: 1.5px;
    stroke: black;
    fill: none;
}

#indi_vf_div svg marker > path {
    fill: #4C4C4C
}

#indi_vf_div .cps {
    opacity: 0.5;
    stroke: forestgreen;
    stroke-width: 5px;
}

/*---*/

#indi_contour_div .cps {
    opacity: 0.5;
    stroke: forestgreen;
    stroke-width: 5px;
}

#indi_contour_div svg .arrows {
    stroke-width: 5px;
}

/*---*/

#indi_lic_div {
    padding-top: 30px;
}

#indi_lic_div img {
    max-width: 440px;
    max-height: 540px;
}

/* Compare Div */
#comp_nav {
    width: 100%;
}

#comp_list_div {
    width: 100%;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: #ddd;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}
