#vf_svg line {
    stroke-width: 5px;
}

svg {
    height: 700px;
    width: 600px;
}

.cps {
    opacity: 0.5;
    stroke: forestgreen;
    stroke-width: 5px;
}

#svg_div {
    float: left;
    padding: 5px;
}

#img_div {
    float: left;
    padding: 5px;
    margin-top: 45px;
}

marker > path {
    fill: #4C4C4C
}

.link {
    stroke-width: 2px;
    stroke: black;
    fill: none;
}

.source {
    fill: forestgreen;
}

.saddle {
    fill: steelblue;
}

.sink {
    fill: darkred;
}

.merge {
    fill: black;
}